#python files
template.py

#images
*.png
*.jpg

#text files
*.txt
*.csv

#folders
__pycache__
data072017
processed_images
data
test
correctionsoftware
cleaning
machinelearning/data
machinelearning/results
machinelearning/results_ratio


#test files
test*

#exceptions
!results/*
